body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.avatar-container {
  width: 15rem; /* Adjust as needed */
  height: 15rem; /* Adjust as needed */
  overflow: hidden;
  border-radius: 50%; /* Makes it circular */
}

.avatar {
  width: 100%; /* Ensures the image fills the container */
  height: auto; /* Maintains aspect ratio */
  
}